body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    display: flex;
}

.navbar {
    background-color: #343a40;
}

.navbar-nav .nav-link {
    color: #ffffff !important;
}

.navbar-nav .nav-link:hover {
    color: #adb5bd !important;
}

.table {
    margin-top: 20px;
    width: 100%; /* Ajusta el ancho de la tabla */
}

.table thead th {
    background-color: #0c345c;
    color: #ffffff;
}

.table tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

.table tbody tr:nth-child(even) {
    background-color: #f1f3f5;
}

.modal-header {
    background-color: #0c345c;
    color: #ffffff;
}

.modal-footer {
    background-color: #f8f9fa;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-danger {
    background-color: #dc3545;
    border: none;
}

.btn-danger:hover {
    background-color: #c82333;
}

.btn-warning {
    background-color: #ffc107;
    border: none;
}

.btn-warning:hover {
    background-color: #e0a800;
}

.label-box {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 0.9em;
    margin-right: 5px;
    margin-bottom: 5px;
}

.sidebar {
    width: 250px;
    background-color: #0c345c;
    color: white;
    padding: 15px;
    height: 100vh;
    position: fixed; /* Fija la barra lateral */
}

.sidebar a {
    color: white;
    text-decoration: none;
}

.sidebar a:hover {
    text-decoration: underline;
}

.content {
    margin-left: 250px; /* Espacio para la barra lateral */
    padding: 20px;
    flex-grow: 1;
}